# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
venv/
.venv/
env/

# IDEs and tools
.vscode/
.idea/
.ipynb_checkpoints

# Google credentials
credentials.json
token.json